<template name="home">
    <div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Our Clean City</h1>
        <p class="splash-subhead">
            Taking pride in our city.
        </p>
        <p>
            <a class="pure-button pure-button-primary">Google Play</a>
            <a class="pure-button pure-button-primary">iTunes</a>
            <a class="pure-button pure-button-primary photo">Start Now</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="ribbon l-box-lrg pure-g">
    </div>
    <div class="content">
        <h2 class="content-head is-center">Cities across the country each have their own individualized ways for dealing with grafitti. Let us make it easy to organize the clean-up.</h2>
        <h3 class="content-head is-center">
            Bring 'Our Clean City' to your neighborhood.
        </h3>
        <div class="content-head is-center">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{loc.lat}},{{loc.lng}}&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7C{{loc.lat}},{{loc.lng}}" />
        </div>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked contact_us">
                    <fieldset>
                        <input id="name" type="text" placeholder="Your Name">
                        <input id="email" type="email" placeholder="Your Email">
                        <input id="password" type="password" placeholder="Your City">
                        <button type="submit" class="pure-button">For More Info</button>
                    </fieldset>
                </form>
            </div>
            
        </div>
    </div>

   
</div>
</template>
